.bas_de_page{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
p{
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.section_cours_gauche{
    float: left;
    text-align: center;
    border: 4px;
    border-style: solid;
    border-color: green;
    background-color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 32.5%;
    padding-bottom: 50px;
}
.section_cours_milieu{
    float: left;
    text-align: center;
    border: 4px;
    border-style: solid;
    border-color: red;
    background-color: lightpink;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 32.5%;
    padding-bottom: 50px;
}
.section_cours_droite{
    float: left;
    text-align: center;
    border: 4px;
    border-style: solid;
    border-color: blue;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 32.5%;
    padding-bottom: 50px;
}